In [1]:

import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)
def p(x):
    print(x)

In [2]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2019, 2, 21, 0, 54, 30, 484020)

In [3]:
now.year,now.month,now.day

(2019, 2, 21)

In [4]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)
delta # datetimeオブジェクトの差分

datetime.timedelta(926, 56700)

In [5]:
delta.days
delta.seconds

56700

In [6]:
from datetime import timedelta
start = datetime(2001,1,7)
start + timedelta(12)
start -2 * timedelta(12)

datetime.datetime(2000, 12, 14, 0, 0)

In [7]:
stamp = datetime(2001,1,3)
str(stamp)

'2001-01-03 00:00:00'

In [8]:
stamp.strftime('%Y-%m-%d')

'2001-01-03'

In [9]:
value =  '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [10]:
from dateutil.parser import parse
parse('2011-01-03')
parse('Jan 31,1997 10:45 PM',dayfirst=True)

datetime.datetime(2019, 1, 31, 22, 45)

In [11]:

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [12]:
idx = pd.to_datetime(datestrs + [None]) # 欠損値はNaT(not a time)として表示される
idx
pd.isnull(idx)

array([False, False,  True])

In [13]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [14]:
ts.index
p('[::2]は偶数を抽出するので奇数は欠損する')
ts + ts[::2]

[::2]は偶数を抽出するので奇数は欠損する

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [15]:
ts.index.dtype

dtype('<M8[ns]')

In [16]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [17]:
stamp = ts.index[2]
ts[stamp]
ts['1/10/2011']
ts['20110110']

1.9657805725027142

In [18]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.092908
2000-01-02    0.281746
2000-01-03    0.769023
2000-01-04    1.246435
2000-01-05    1.007189
2000-01-06   -1.296221
2000-01-07    0.274992
2000-01-08    0.228913
2000-01-09    1.352917
2000-01-10    0.886429
                ...
2002-09-17   -0.139298
2002-09-18   -1.159926
2002-09-19    0.618965
2002-09-20    1.373890
2002-09-21   -0.983505
2002-09-22    0.930944
2002-09-23   -0.811676
2002-09-24   -1.830156
2002-09-25   -0.138730
2002-09-26    0.334088
Freq: D, Length: 1000, dtype: float64

In [19]:
longer_ts['2001-05'] # 期日をインデックスにして抽出することができる

2001-05-01   -0.622547
2001-05-02    0.936289
2001-05-03    0.750018
2001-05-04   -0.056715
2001-05-05    2.300675
2001-05-06    0.569497
2001-05-07    1.489410
2001-05-08    1.264250
2001-05-09   -0.761837
2001-05-10   -0.331617
                ...
2001-05-22    0.503699
2001-05-23   -1.387874
2001-05-24    0.204851
2001-05-25    0.603705
2001-05-26    0.545680
2001-05-27    0.235477
2001-05-28    0.111835
2001-05-29   -1.251504
2001-05-30   -2.949343
2001-05-31    0.634634
Freq: D, Length: 31, dtype: float64

In [20]:
longer_ts[datetime(2001,1,7):'2001/3/7'] # またdatetimeオブジェクトを指定することもできる。

2001-01-07   -1.308228
2001-01-08    2.173185
2001-01-09    0.564561
2001-01-10   -0.190481
2001-01-11   -0.916934
2001-01-12   -0.975814
2001-01-13    2.212303
2001-01-14    0.073931
2001-01-15    1.818595
2001-01-16   -1.581531
                ...
2001-02-26   -1.529181
2001-02-27   -1.551715
2001-02-28    0.297293
2001-03-01    0.344791
2001-03-02   -0.398103
2001-03-03    0.429404
2001-03-04   -0.285945
2001-03-05   -2.228437
2001-03-06    0.066559
2001-03-07    0.489965
Freq: D, Length: 60, dtype: float64

In [21]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
dtype: float64

In [22]:
dates =  pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New York','Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.006045  0.490094 -0.277186 -0.707213
2001-05-09 -0.560107  2.735527  0.927335  1.513906
2001-05-16  0.538600  1.273768  0.667876 -0.969206
2001-05-23  1.676091 -0.817649  0.050188  1.951312
2001-05-30  3.260383  0.963301  1.201206 -1.852001

In [23]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000']) # dateタイム型のインデックスを作る。
dup_ts = pd.Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [24]:
dup_ts.index.is_unique

False

In [25]:
dup_ts['1/3/2000']  # 重複なし

4

In [26]:
dup_ts['1/2/2000']  # 重複あり

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [27]:
grouped = dup_ts.groupby(level=0) # 階層を指定
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [28]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [29]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [30]:
resampler = ts.resample('D')
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [31]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [32]:
pd.date_range(start='2012-04-01', periods=20)
pd.date_range(end='2012-06-01', periods=20)
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [33]:
pd.date_range('2012-05-02 12:56:31', periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [34]:
from pandas.tseries.offsets import Hour,Minute
hour = Hour(4)
hour

In [35]:
pd.date_range('2000-01-01',periods=10,freq='4h') # 4hごとに表示される。

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [36]:
Hour(4)+Minute(30) # minで表示される

In [37]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [38]:
rng =  pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [39]:

ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -0.066748
2000-02-29    0.838639
2000-03-31   -0.117388
2000-04-30   -0.517795
Freq: M, dtype: float64

In [40]:
ts.shift(2) # 後ろに2こシフト
ts.shift(-2) # 前に２こシフト
ts/ts.shift(1) - 1
ts.shift(2,freq='M') # 月が後ろに2ヶ月分シフト
ts.shift(3, freq='D') # 3日分シフト
ts.shift(1, freq='90T') # 90分毎にシフトする

2000-01-31 01:30:00   -0.066748
2000-02-29 01:30:00    0.838639
2000-03-31 01:30:00   -0.117388
2000-04-30 01:30:00   -0.517795
Freq: M, dtype: float64

In [41]:
from pandas.tseries.offsets import Day , MonthEnd # offsetで基準値からのズレを扱う
now = datetime(2011,11,17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [42]:
now + MonthEnd(2) # ズレの分変化する 2の場合2子分

Timestamp('2011-12-31 00:00:00')

In [43]:
offset = MonthEnd()
offset.rollforward(now)  # 明示的にMonthEndに進める
offset.rollback(now) # 明示的にMonthEndに後退させる

Timestamp('2011-10-31 00:00:00')

In [44]:
ts = pd.Series(np.random.rand(20),index=pd.date_range('1/15/2000',periods=20,freq='4d'))
ts

2000-01-15    0.619392
2000-01-19    0.494170
2000-01-23    0.405171
2000-01-27    0.114428
2000-01-31    0.284073
2000-02-04    0.985047
2000-02-08    0.623877
2000-02-12    0.178896
2000-02-16    0.289253
2000-02-20    0.166741
2000-02-24    0.886770
2000-02-28    0.919424
2000-03-03    0.741843
2000-03-07    0.914458
2000-03-11    0.948832
2000-03-15    0.682659
2000-03-19    0.936022
2000-03-23    0.738920
2000-03-27    0.656011
2000-03-31    0.297125
Freq: 4D, dtype: float64

In [45]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.383447
2000-02-29    0.578573
2000-03-31    0.739484
dtype: float64

In [46]:
ts.resample('M').mean() # Month の頻度に関してサンプリング

2000-01-31    0.383447
2000-02-29    0.578573
2000-03-31    0.739484
Freq: M, dtype: float64

In [47]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [48]:
tz = pytz.timezone('Asia/Tokyo')
tz

In [49]:
rng = pd.date_range('3/9/2012 9:30',periods=6,freq='D')
ts = pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-09 09:30:00    0.870955
2012-03-10 09:30:00   -0.991253
2012-03-11 09:30:00    0.151699
2012-03-12 09:30:00    1.266151
2012-03-13 09:30:00   -0.202469
2012-03-14 09:30:00    0.050718
Freq: D, dtype: float64

In [50]:
print(ts.index.tz)

None

In [51]:
pd.date_range('3/9/2012 9:30',periods=6,freq='D',tz='UTC') # tzを指定して作成

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [52]:
ts

2012-03-09 09:30:00    0.870955
2012-03-10 09:30:00   -0.991253
2012-03-11 09:30:00    0.151699
2012-03-12 09:30:00    1.266151
2012-03-13 09:30:00   -0.202469
2012-03-14 09:30:00    0.050718
Freq: D, dtype: float64

In [53]:
ts_utc = ts.tz_localize('UTC') # 曖昧なタイムゾーンからlocalizeする
ts_utc

2012-03-09 09:30:00+00:00    0.870955
2012-03-10 09:30:00+00:00   -0.991253
2012-03-11 09:30:00+00:00    0.151699
2012-03-12 09:30:00+00:00    1.266151
2012-03-13 09:30:00+00:00   -0.202469
2012-03-14 09:30:00+00:00    0.050718
Freq: D, dtype: float64

In [54]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [55]:
ts_utc.tz_convert('America/New_York') #ローカライズされたものをコンバートできる

2012-03-09 04:30:00-05:00    0.870955
2012-03-10 04:30:00-05:00   -0.991253
2012-03-11 05:30:00-04:00    0.151699
2012-03-12 05:30:00-04:00    1.266151
2012-03-13 05:30:00-04:00   -0.202469
2012-03-14 05:30:00-04:00    0.050718
Freq: D, dtype: float64

In [56]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.870955
2012-03-10 14:30:00+00:00   -0.991253
2012-03-11 13:30:00+00:00    0.151699
2012-03-12 13:30:00+00:00    1.266151
2012-03-13 13:30:00+00:00   -0.202469
2012-03-14 13:30:00+00:00    0.050718
Freq: D, dtype: float64

In [57]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.870955
2012-03-10 15:30:00+01:00   -0.991253
2012-03-11 14:30:00+01:00    0.151699
2012-03-12 14:30:00+01:00    1.266151
2012-03-13 14:30:00+01:00   -0.202469
2012-03-14 14:30:00+01:00    0.050718
Freq: D, dtype: float64

In [58]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [59]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [60]:
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [61]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow') # 中にtime zoneを設定できる
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [62]:
stamp_utc.value # タイムスタンプ値は変わらない
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [63]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [64]:

stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [65]:

rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
p('別々のタイムゾーンの演算結果はUTCになる')
result.index

別々のタイムゾーンの演算結果はUTCになる

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [66]:
p = pd.Period(2007,freq='A-DEC') # a year of decenber
p

Period('2007', 'A-DEC')

In [67]:
p + 5

Period('2012', 'A-DEC')

In [68]:
p -2

Period('2005', 'A-DEC')

In [69]:
pd.Period('2014', freq='A-DEC') - p

7

In [70]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.922839
2000-02    0.312656
2000-03   -1.128497
2000-04   -0.333488
2000-05   -0.514551
2000-06   -0.559782
Freq: M, dtype: float64

In [71]:
values = ['2001Q3', '2002Q2', '2003Q1'] # それぞれのクオーター
index = pd.PeriodIndex(values,freq='Q-DEC')
print('文字列の配列からPeriodIndexオブジェクトを作成することができる')
index

文字列の配列からPeriodIndexオブジェクトを作成することができる

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [72]:
p = pd.Period('2007',freq='A-DEC')
p.asfreq('M',how='start')
# p.asfreq('M',how='start')

Period('2007-01', 'M')

In [73]:

p = pd.Period('2007', freq='A-JUN') # 7月スタート6月終わり
p
p.asfreq('M', 'start')
# p.asfreq('M', 'end')

Period('2006-07', 'M')

In [74]:
p = pd.Period('Aug-2007', 'M') # 延長先に2008年1月がある
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [75]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.asfreq('M', how='start') # 2006年スタートの月ごと
ts.asfreq('B', how='end')

2006-12-29   -0.783408
2007-12-31   -1.797685
2008-12-31   -0.172670
2009-12-31    0.680215
Freq: B, dtype: float64

In [76]:
p = pd.Period('2012Q4', freq='Q-JAN') # 4半期の分け方
p

Period('2012Q4', 'Q-JAN')

In [77]:
p.asfreq('D','start')
p.asfreq('D','end')# pのエンド時期

Period('2012-01-31', 'D')

In [78]:
p.asfreq('B','e')

Period('2012-01-31', 'B')

In [82]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts
print('rngを営業日のend日指定に変換し,-1で一日前にしてtime型(min)のsスタート型にして16時間をたす方法')
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60 
ts.index = new_rng.to_timestamp()
ts

rngを営業日のend日指定に変換し,-1で一日前にしてtime型(min)のsスタート型にして16時間をたす方法

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [84]:
data = pd.read_csv('macrodata.csv')
data.head(5)
data.year
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
6      3.0
7      4.0
8      1.0
9      2.0
      ...
193    2.0
194    3.0
195    4.0
196    1.0
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [85]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter,
                       freq='Q-DEC') # periodindex 型にfreqをつける条件でyearとquarterをつなげることができる。

In [86]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [87]:
data.index = index
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
          ...
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64